.booking-container {
    background-image: url('https: //encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgnbixMoV7EiGKMRl0aGW9MxiGjRVXCXMLNA&s');
    padding:5%;
    
}
.booking{
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    margin-bottom: 30px;
}

.form-tabs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    background-color: #f5f5f5;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
}

.tab-button.active {
    background-color: #000;
    color: #fff;
}

.hotel-booking-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: row;
   
    align-items: flex-start;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px;
    
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group select {
    width: 200px;
    padding: 8px;
   
    margin-top: 5px;
}

.form-group .nights {
    margin-top: 5px;
    font-size: 0.9rem;
    color: #666;
}

.star-rating {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.star-rating label {
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 5px;
    cursor: pointer;
}

.search-button {
    padding: 10px 15px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 20%;
    padding: 20px;
    cursor: pointer;
    
}



input{
    border-color: white;
    outline-width: 0px;
    border-width: 0px;
}
.d{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 10px;


}